@model IEnumerable<MyEvernote.Entities.Note>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Index</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <p>
            @Bootstrap.linkButton("/Note/Create", "primary", string.Empty, string.Empty, "plus", "Ekle")

        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDraft)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LikeCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUserName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDraft)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LikeCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUserName)
                    </td>
                    <td>
                        @Bootstrap.linkButton("/Note/Edit/" + @item.Id, "warning", "btn-xs", "Düzenle", "edit", string.Empty)
                    </td>
                    <td>
                        @Bootstrap.linkButton("/Note/Details/" + @item.Id, "info", "btn-xs", "Detaylar", "search", string.Empty)
                    </td>
                    <td>
                        @Bootstrap.linkButton("/Note/Delete/" + @item.Id, "danger", "btn-xs", "Sil", "trash", string.Empty)
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
